@model IEnumerable<AutoWorld.Models.Products>

@foreach (var item in Model)
{
    <!-- Product  -->

    <div class=" col-sm-6 col-lg-4 product-grid1">
        <div class="image">
            <a href="@Url.Action("DetailProduct","Details",new { id = item.Id })" title="">
                <img src="~/Content/Library/@Html.DisplayFor(modelItem => item.Image)" alt="">
            </a>
            <h4 class="text-center">@Html.DisplayFor(modelItem => item.Name)</h4>
            <h5 class="text-center">Price: $@Html.DisplayFor(modelItem => item.Price)</h5>
            @*<h5 class="text-center">@Html.DisplayFor(modelItem => item.description) seat</h5>*@
            <a href="@Url.Action("DetailProduct","Details",new { id = item.Id })" class=" buy btn btn-danger btn-lg ">Details</a>
            <a href="@Url.Action("AddToCart","Cart",new { id = item.Id })" class=" buy btn btn-danger btn-lg ml-3">Add Cart</a>
            @*<a>@Html.ActionLink("Add to Cart", "AddToCart", new { controller = "Cart", id = item.Id }, new { class=" buy btn btn-danger btn-lg ")</a>*@

            @{
                //JsonConvert.SerializeObject
                //Convert.
            }
        </div>
    </div>
    <!-- ./Product -->
}
