@model AutoWorld.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section scripts{

    <script src="~/Content/Library/scripts/detail.js"></script>
    <style>
        .imgSize{
            width:280px;
        }
    </style>
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
            <div class="pt-5">
                <img class="imgSize" src="~/Content/Library/@Html.DisplayFor(model => model.Image) " alt="Alternate Text" />
            </div>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="d-none">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        
        <dd id="DetailDescription" class="d-none">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <div id="InnerDiscription">

        </div>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
